@using SpringSoftware.Web.DAL.Manage
@using SpringSoftware.Web.Help
@model SpringSoftware.Web.Areas.Admin.Models.ProductViewModel

<script type="text/javascript">
    $(document).ready(function () {
        $("#EditPicture").on("click", function () {
            var id = $("#item_Id").val();
            var displayOrder = $("#item_DisplayOrder").val();
            $.ajax({
                type: "POST",
                data: { id: id, displayOrder: displayOrder },
                url: '@Url.Action("EditPicture", "Products")',
                success: function (data) {
                    $("#SuccesDiv").html("<b>修改成功!</b>");
                }
            });
        });

        $("#DeletePicture").on("click", function () {
            var id = $("#item_Id").val();
            $.ajax({
                type: "POST",
                data: { id: id},
                url: '@Url.Action("DeletePicture", "Products")',
                success: function (data) {
                    $("#SuccesDiv").html("<b>删除成功!</b>");
                    $('#PictureRow ' + id).remove();
                }
            });
        });
    });
</script>

<table role="grid">
    <colgroup>
        <col style="width:200px">
        <col style="width:150px">
        <col style="width:200px">
    </colgroup>
    <thead  role="rowgroup">
        <tr role="row">
            <th role="columnheader" data-field="PictureUrl" data-title="图片" >图片</th>
            <th role="columnheader" data-field="DisplayOrder" data-title="显示顺序" >显示顺序</th>
            <th ></th>
        </tr>
    </thead>
    <tbody role="rowgroup">
        @foreach (var item in Model.ProductPictureList)
        {
            <tr role="row" id="PictureRow @item.Id">
                <td role="gridcell">
                    <a href=@ImageManage.Get280PathByPictureId(item.PictureId, Model.PictureList) target="_blank">
                        <img alt="21" src=@ImageManage.Get280PathByPictureId(item.PictureId, Model.PictureList) width="150">
                    </a>
                    <a></a>
                </td>
                @Html.HiddenFor(model => item.Id)
                <td role="gridcell">
                    @Html.EditorFor(model => item.DisplayOrder)
                </td>
                <td role="gridcell">
                    <input id="EditPicture" type="button" value="编辑" class="btn btn-default" />
                    <input id="DeletePicture" type="button" value="删除" class="btn btn-default" />
                </td>
                <td><div id="SuccesDiv" style="color:red"></div></td>
            </tr>
        }
    </tbody>
</table>

    @*<div>
        <div id="productpictures-grid"></div>
        <script>
            $(document).ready(function () {
                $("#productpictures-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("ProductPictureList", "Products", new { productId = Model.Product.Id }))",
                                type: "POST",
                                dataType: "json"
                            },
                            update: {
                                url:"@Html.Raw(Url.Action("ProductPictureUpdate", "Products"))",
                                type: "POST",
                                dataType: "json"
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("ProductPictureDelete", "Products"))",
                                type: "POST",
                                dataType: "json"
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "Id",
                                fields: {
                                    PictureUrl: {editable: false, type: "string" },
                                    DisplayOrder: {editable: true, type: "number" }
                                }
                            }
                        },
                        requestEnd: function(e) {
                            if(e.type=="update") {
                                this.read();
                            }
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false
                    },
                    editable: {
                        confirmation: false,
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [{
                        field: "PictureUrl",
                        title: "Admin.Catalog.Products.Pictures.Fields.Picture",
                        template: '<a href="#=PictureUrl#" target="_blank"><img alt="#=PictureId#" src="#=PictureUrl#" width="150" /><a/>',
                        width: 200
                    }, {
                        field: "DisplayOrder",
                        title: "Admin.Catalog.Products.Pictures.Fields.DisplayOrder",
                        //integer format
                        format: "{0:0}",
                        width: 150
                    }, {
                        command: [{
                            name: "edit",
                            text: "Admin.Common.Edit"
                        }, {
                            name: "destroy",
                            text: "Admin.Common.Delete"
                        }],
                        width: 200
                    }]
                });
            });
        </script>
    </div>
    <p>
        <strong>Admin.Catalog.Products.Pictures.AddNew</strong>
    </p>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#addProductPicture').click(function () {
                var pictureId = $("#@Html.FieldIdFor(model => model.AddPictureModel.PictureId)").val();
                var displayOrder = $("#@Html.FieldIdFor(model => model.AddPictureModel.DisplayOrder)").val();

                if (pictureId == 0) {
                    alert('Upload picture first');
                    return;
                }

                $('#addProductPicture').attr('disabled', true);
                $.ajax({
                    cache:false,
                    type: "POST",
                    url: "@(Url.Action("ProductPictureAdd", "Product"))",
                    data: { "pictureId": pictureId, "displayOrder": displayOrder, "productId": @Model.Product.Id },
                    success: function (data) {
                        var productpicturesGrid = $("#productpictures-grid");
                        productpicturesGrid.data('kendoGrid').dataSource.read();
                        $('#addProductPicture').attr('disabled', false);
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert('Failed to add product picture.');
                        $('#addProductPicture').attr('disabled', false);
                    }
                });
            });
        });
    </script>
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.AddPictureModel.PictureId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddPictureModel.PictureId)
                @Html.ValidationMessageFor(model => model.AddPictureModel.PictureId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.AddPictureModel.DisplayOrder):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddPictureModel.DisplayOrder)
                @Html.ValidationMessageFor(model => model.AddPictureModel.DisplayOrder)
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                <input type="button" id="addProductPicture" class="k-button" value="Admin.Catalog.Products.Pictures.AddButton" />
            </td>
        </tr>
    </table>*@


 
 
