@using System.Web.UI.WebControls
@model SpringSoftware.Core.DbModel.News

@{
    ViewBag.Title = "Create";
}
@*<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-1.10.2.js"></script>
<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="@Url.Content("~/Scripts/tinymce/jquery.tinymce.js")" type="text/javascript"></script>*@


<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>News</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title,new{style="width:800px"})
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPublish, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsPublish)
                @Html.ValidationMessageFor(model => model.IsPublish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewsType.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NewsType.Id, Model.NewsTypeList.Select(t=>new SelectListItem
                {
                    Text = t.Name,
                    Value = t.Id.ToString()
                }))
                @*@Html.DropDownListFor(model => model.NewsType.Id, new SelectList(Model.NewsTypeList, "Id", "Name"))*@

                @Html.ValidationMessageFor(model => model.NewsType.Name)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifyDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifyDate)
                @Html.ValidationMessageFor(model => model.LastModifyDate)
            </div>
        </div> 

        <div class="form-group">
            @Html.LabelFor(model => model.IsDelete, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDelete)
                @Html.ValidationMessageFor(model => model.IsDelete)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Creater, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Creater)
                @Html.ValidationMessageFor(model => model.Creater)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifier, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifier)
                @Html.ValidationMessageFor(model => model.LastModifier)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
