@model SpringSoftware.Core.DbModel.News

@{
    ViewBag.Title = "Details";
}

<body>

    <div id="layout-wrapper">
        <div id="content">
            <div>
                <h1>@Html.DisplayFor(model => model.Title)</h1>

                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left">
                            最后修改者：<a href="#">@Html.DisplayFor(model => model.LastModifier)</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            最后修改日期：@Html.DisplayFor(model => model.LastModifyDate)
                        </div>
                    </div>
                </div>

                <div class="CompanyIntroBody">
                    @Html.Raw(Model.Content)
                </div>

            </div>
        </div>
    </div>

</body>

@*<div>
        <h4>News</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.Raw(Model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsPublish)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsPublish)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NewsType.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NewsType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastModifyDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastModifyDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDelete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDelete)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Creater)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Creater)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastModifier)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastModifier)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
